@import 'global';

nav.navbar {
  
  background-color: var(--primary-color);
}

a.nav-link{
  color: var(--word-color);
  margin: 5px;
}

a.nav-link:hover{
  font-weight: bold;
}

div.nav-item {
  margin-right: 11vw;
  display: inline;
  position: relative;
} 

.icono {
  width: 40px;
}
