@import 'global';

.Navbar {
  background-color: var(--primary-color);
}

a.nav-link{
  color: var(--secondary-color);
}

a.nav-link:hover{
  font-weight: bold;
}

.cont ul li {
  margin-right: 13vw;
  float: left;
  display: inline;
  position: relative;
}

.icono {
  width: 40px;
}
