@import 'global';
.form{
    background-color: #193869;
    height: 80vh;
}

.conten{
    height: 30rem
}

div.icon, button.btn{
    background: #193869;
}

.icon-login{
    height: 5rem;
}

.username-icon{
    height: 1rem
}



.password-icon{
    height: 1rem;
}


.recuerdame{
    font-size: 0.9rem
}

.recu-contra{
    font-size: 0.9rem
}

.or{
    font-size: 0.9rem
}

.icon-google{
    height: 1.6rem
}

