:root{
    --primary-color: #18335E;
    --secondary-color: #193869;
    --word-color: #ffff;
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: 0;
}


a{
    color: var(--word-color);
}

a, a.nav-link:hover{
    color: var(--word-color);
}

