@import 'global';
.body{
    background-color: #a3b3ce;
}

.enunciado{
    margin: 10px 0;

}

.logo-app {
    margin: 25px 0 25px 0;
    width: 45vw;
    height: 35vh;
}
 
.text{
    width: 100%;
}

.text-p{
    color: var(--secondary-color);
    float: left;
    width: 40vw;
}

.logo-app ,.imagen-ref{
    border: 1px solid #18335E;
}

.imagen-ref{
    margin: 0 0 5px 30px;
    width: 35vw;
    height: 40vh;
    display: inline-block;
}

.btn{
  margin: 0 40px 14px 55px ;
}

.quienes-somos, .contacto, .servicio{
    margin: 15px 0;
    text-align: center;
    /* background-color: #211e9a; */
    display: inline-block;
    color: var(--secondary-color);
}

.servicio{
    margin-top: 30px;
    text-align: center;
}

.servicio-img{
    width: 310px;
    margin: 5px 30px;

}

.contacto{
    padding: 35px;
}