footer{
    color: #ffffff;
    background-color: #18335E;
}

.red-icon img{
    width: 40px;
    margin: 5px ;
}

.copy{
    background-color: #193b71;
    text-align: center;
}

.copy p{
    margin: auto;
    color: #ffffff;
}

footer li a{
    color: #ffffff;
    text-decoration: none;
}

footer li a:hover{
    color: #ffffff;
}


