@import 'global';

footer{
    color: var(--word-color);
    background-color: var(--primary-color);
}

.red-icon img{
    width: 40px;
    margin: 5px ;
}

.copy{
    background-color: #193b71;
    text-align: center;
}

.copy p{
    margin: auto;
    color: var(--word-color);
}

footer li a{
    color: var(--word-color);
    text-decoration: none;
}

footer li a:hover{
    color: var(--word-color);
}


